{% extends 'home/index.html.twig' %}

{% block title %}A propos de CAF LITED{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">

                    <a href="#">
                        <h4 class="card-title">Contexte et justification</h4>
                    </a>

                    <p class="card-text mb-4"> 


                        La Côte d'Ivoire est située en Afrique de l'Ouest. Elle est un pays dont 
                        la population connaît un accroissement continu avec un taux estimé à 3,3% 
                        pour la période 1998-2008, et une population, estimée à 22,6 millions en 2011. 
                        <br />
                        Cet accroissement naturel s'explique par le niveau élevé de la fécondité, d'où
                        l'extrême jeunesse de la population avec une forte représentation des jeunes 
                        de moins de 15 ans (43%), la tranche des 15 à 34 ans représentant environ 36,40% de la population du pays. 

                        Le taux de chômage en Côte d'Ivoire est passé de 2,8% en 2016 à 3,3% en 2017.
                        Ainsi, la pression des demandeurs d'emploi sur le marché du travail ivoirien est plus perceptible
                        chez les jeunes avec l'arrivée de près de 300 000 jeunes chaque année sur le marché du travail, 
                        selon le rapport de l'enquête <b>ERI-ESI 2017</b>.

                        La situation s'est davantage détériorée avec la pandémie de la COVID 19 qui, comme partout dans le monde,
                        a impacté négativement le marché du travail, avec de nombreuses mises au chômage technique et à des licenciements
                        pour motifs économiques. 

                        Afin de relever le défi lié à la précarité de l'insertion professionnelle des jeunes, des offres sociales actives 
                        d'insertion dans l'emploi avec des effets plus significatifs sont nécessaires. Il est question de former des
                        titulaires du BEPC, du bac ou d’un diplôme universitaire, en vue de leur donner assez de chance pour avoir un
                        emploi d’enseignant au privé ou semi-privé, ici en Côte d’Ivoire ou ailleurs dans le monde. Ces jeunes formés
                        constituent désormais un vivier attrayant pour la Côte d’Ivoire. 

                        Au regard de cette situation, <b>Madame BOAN épouse IRITIÉ</b>, Inspecteur Principal de l’Éducation, Chevalier dans l’Ordre du Mérite de l’Éducation Nationale, fait une offre sociale,
                        en mettant en mission <b> CAF-LITED></b> (<b>C</b>entre d’<b>A</b>nimation et de <b>F</b>ormations <b>LITED</b>) en Côte d'Ivoire pour accompagner 
                        l'Etat dans sa mission d'employabilité. Pour cela, elle s’appuie sur l'expertise d’enseignants expérimentés et
                        de partenaires informaticiens.


                    </p>

                </div>
            </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">

                    <a href="#">
                        <h4 class="card-title">Avantages</h4>
                    </a>
                    <p class="card-text mb-4"> 
                    <ul>
                        <li>
                            <b>1</b>- Une opportunité de formation professionnelle, 
                        </li>
                        <li>
                            <b>2</b> - Une réduction du taux de chômage  en Côte d’Ivoire,
                        <li>
                            <b>3</b> - Une création d’une autre source de revenus pour les professeurs de CAFOP retraités ou en fonction,                        </li>
                        <li>

                            <b>4</b> - Un vivier pour les écoles privées d’ici d’ailleurs,
                        </li>
                        <li>
                            <b>5</b> - Une réutilisation du gain pour la création de nouveaux groupes scolaires au profit des auditeurs, 
                        </li><li>
                            <b>6</b> - Une aide pour l’Etat de Côte d’Ivoire dans sa politique d'emploi,
                        </li><li>
                            <b>7</b>-  Une qualification du personnel enseignant du privé,
                        </li><li>
                            <b>8</b> - Un réhaussement du niveau de formation du personnel enseignant du privé qui englobe plus de 80 % de la population scolaire en Côte d’Ivoire,
                        </li><li>
                            <b>9</b>- Un amoindrissement du taux d’échec scolaire à l’examen du CEPE
                        </li><li>
                            <b>10</b>- Une Ouverture de l’esprit des auditeurs sur l’entreprenariat, en vue de leur permettre d’avoir autres sources de revenus,
                        </li><li>
                            <b>11</b>- Une Occasion pour les auditeurs de voyager avec l’aide des ambassades ou d’autres partenaires pour un mieux être professionnel.   
                        </li>
                    </ul>
                    </p>

                </div>
            </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">

                    <a href="#">
                        <h4 class="card-title">Formations des auditeurs</h4>
                    </a>
                    <p class="card-text mb-4">

                        La formation initiale est très importante dans le parcours de l'enseignant.
                        Cette base théorique et pratique fera des enseignants issus de <b>CAF LITED</b> des
                        personnes outillées, prêtes et aguerries pour l'éducation des enfants. 

                        La formation des auditeurs durera trois (03) ans.

                        En première année et en deuxième année, la formation s'appuie sur treize (13) modules de formation,
                        tous adossés aux douze (12) compétences du référentiel métier de l'instituteur.
                        Cette formation vise à développer des compétences professionnelles en lien avec le
                        métier de l’instituteur associant pédagogiquement la théorie et la pratique.

                        En 2ème année, il sera question de l'exécution des modules restants et du stage pratique 
                        en tutelle dans les écoles préscolaires et au primaires. La durée du stage en tutelle est 
                        de six (06) mois. Toute la formation pratique et théorique des deux (02) premières années 
                        sera sanctionnée par l'examen du <b>DIAS</b> (<b>D</b>iplôme d'<b>I</b>nstituteur <b>A</b>djoint <b>S</b>tagiaire).

                        Pour bien étoffer la formation, la 3ème année, après le DIAS, l'élève maître 
                        toujours en consolidation des acquis, se verra attribué une classe où il sera
                        encadré par un maître d'application expérimenté, toute l'année. Cette formation 
                        pratique sera sanctionnée par le <b>C</b>ertificat <b>É</b>lémentaire d’<b>A</b>ptitude <b>P</b>édagogique (<b>CEAP</b>).

                        .

                        .</p>

                </div>
            </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">
                    <ul class="list-inline mb-2">
                    </ul>
                    <a href="#">
                        <h4 class="card-title">Formations en ligne et en présentiel</h4>
                    </a>
                    <p class="card-text mb-4"> 
                        Il est question que tous les contenus des modules dispensés en présentiel soient préalablement mis en ligne,
                        à la disposition des auditeurs pour lecture et réalisation des travaux dirigés, d'activité de
                        remédiation et d'évaluation des compétences développées. 
                        Par conséquent, les professeurs disciplinaires devront alimenter et suivre la plateforme.
                        La formation à distance est une belle aventure pour les auditeurs de CAF - LITED car cela 
                        leur permettra de mieux assimiler les cours vus d'avance, en ligne.

                    </p>

                </div>
            </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">
                    <ul class="list-inline mb-2">
                    </ul>
                    <a href="#">
                        <h4 class="card-title">Volume horaire</h4>
                    </a>
                    <p class="card-text mb-4">
                        Le volume horaire correspond au besoin de la formation des auditeurs. Selon notre document de programmation,
                        560 heures sont prévues pour les formations en première année contre 640 heures (CAFOP public). 
                        Pour la deuxième année, essentiellement consacrée aux stages pratiques, nous avons le reste des modules à administrer.
                        Cinq (05) modules en sept (07) semaines seront vus avant le stage en tutelle. Il faut noter qu'une semaine équivaut à 24 heures de cours,
                        donc sept (07) semaines font 168 heures de cours. 
                        Des stages pratiques s'effectueront dans les écoles préscolaires, primaires, privées, 
                        semi-privées et publiques déjà contactées ou à contacter.

                    </p>

                </div>
            </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">
                    <ul class="list-inline mb-2">
                    </ul>
                    <a href="#">
                        <h4 class="card-title">Conditions d'accès</h4>
                    </a>
                    <p class="card-text mb-4"> 

                        <b>ÂGE: de 18 à 42 ans révolus</b> <br />
                        Toutes les personnes valides ont droit à la formation. Le projet CAF - LITED est une belle opportunité pour
                        ceux dont l'âge ne permet plus de passer certains concours.
                        <br />
                        <b>DIPLÔME</b>
                        <br />

                        Le diplôme exigé est le BEPC, le BAC ou un diplôme universitaire. Les autres diplômes ne sont pas admis : BT, 
                        BP.
                    </p>

                </div>
            </div>
        </div>



        <div class="col-lg-8 col-sm-8 mb-5">
            <div class="card p-0 border-primary rounded-0 hover-shadow">
                <div class="card-body">
                    <ul class="list-inline mb-2">
                    </ul>
                    <a href="#">
                        <h4 class="card-title">Mode de fonctionnement</h4>
                    </a>
                    <p class="card-text mb-4"> 
                        La formation au CAF - LITED s'effectuera : 
                        En cours du jour et en cours du soir
                    <ul>
                        <li style="list-style-type: square"> En cours du soir</li>
                        <li style="list-style-type: square"> Du Lundi au Vendredi de 18H à 21H</li>
                        <li style="list-style-type: square"> En cours du jour </li>
                        <li style="list-style-type: square"> Samedi 08H à 16H</li>
                        <li style="list-style-type: square"> Les congés de Noël : une semaine </li>
                        <li style="list-style-type: square"> Les congés de Pâques : une semaine </li>
                        <li style="list-style-type: square"> Les grandes vacances : un mois et demi de cours.</li> 
                    </ul>
                    </p>

                </div>
            </div>
        </div>






    </div>

{% endblock %}
