{% extends 'home/index.html.twig' %}

{% block title %}Hello EnseignantController!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
       
          <a href="#">
            <h4 class="card-title">CONTEXTE</h4>
          </a>

          <p class="card-text mb-4"> 
            
            


         La Côte d’Ivoire est située en Afrique de l’Ouest Elle couvre une superficie de 322462 km² et partage ses frontières avec le golfe de Guinée au sud, le Ghana à l’est, le Libéria et la Guinée  à l’ouest, le Mali et le Burkina Faso au nord. La population ivoirienne connaît un accroissement soutenu, avec un taux estimé à 3,3% pour la période 1998-2008, et une population estimée à 22,6 millions en 2011. Cet accroissement naturel s’explique par le niveau élevé de la fécondité d’où l’extrême jeunesse de la population, avec une forte représentation des jeunes de moins de 15 ans (43%), la tranche des 15-34 ans représentant environ 36,40%. Le taux de chômage en Côte d’Ivoire est passé 2,8% en 2016 à 3,3% en 2017. L’intensité de la tension sur le marché du travail ivoirien est plus perceptible pour les jeunes avec l’arrivée de près de 300 000 jeunes chaque année sur le marché du travail selon le rapport de l’enquête ERI-ESI2017.
          La situation s’est davantage détériorée avec la pandémie de la COVID 19 qui comme partout dans le monde a impacté négativement le marché du travail avec des mises au chômage technique et des licenciements pour motifs économiques massifs. Afin de contribuer à relever le défi lié à la précarité de l’insertion professionnelle des jeunes, des offres sociales actives d’insertion dans l’emploi avec des effets plus perceptibles sont nécessaires.
        Au regard de cette situation et à l’instar de plusieurs Organisations Non Gouvernementales (ONG), l’ONG Littérature pour Enfant et Développement (LITED) fait une offre sociale par la création des CAFOP LITED en côte d’Ivoire. 
         Fondée en 2007, par Madame Boan Lou Tra épse Iritié, ancienne de la DELC, Chargée d’Etude, Inspecteur Principal de l’Education, Ecrivain, à la retraite depuis 2018,  l’ONG LITED veut accompagner l’Etat dans sa politique de normalisation d’employabilité,  d’où la nécessité de création de CAFOP LITED en Côte d’Ivoire.


            
           </p>

        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
         
          <a href="#">
            <h4 class="card-title">Avantages</h4>
          </a>
          <p class="card-text mb-4"> 
            	
1-Offrir une opportunité de formation professionnelle 

2 - Réduction du taux de chômage  en Côte d’Ivoire

3 - Création d’une autre source de revenus pour les professeurs de CAFOP retraités ou en fonction

4 - Un vivier pour les écoles privées d’ici d’ailleurs
s
5 - Réutilisation du gain pour la création de nouveaux groupes scolaires au profit des auditeurs

6 - Aider l’Etat de Côte d’Ivoire dans sa politique d’employabilité  sans emploi

7- La qualification du personnel enseignant du privé.

8 - Réhausser le niveau de formation du personnel enseignant du privé qui englobe plus de 80 % de la population scolaire en Côte d’Ivoire.

9- Amoindrissement du taux d’échec scolaire à l’examen du CEPE

10- Ouvrir l’esprit des jeunes auditeurs sur l’entreprenariat, en vue de leur permettre d’avoir autres sources de revenus

11- Donner l’occasion aux jeunes de voyager avec l’aide des ambassades ou d’autres bienfaiteurs pour un mieux être professionnel   

          </p>
          
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
          
          <a href="#">
            <h4 class="card-title">Formations pratiques</h4>
          </a>
          <p class="card-text mb-4">
            
         La formation initiale est très importante dans le parcourt d’un maitre. C’est cette base  théorique et pratique qui  fera  de lui, une  personne outillée, un enseignant prêt  et aguerri pour  l’éducation  et l’instruction  des enfants.
De fait, l’O N G  qui œuvre  pour le développement  de l’enfant prend l’engagement de mettre en œuvre  CAFOP LITED pour  former des enseignants chevronner  capables  d’exercer  le métier  d’instituteur. Elle va  s’appuyer sur l’expérience des cafop publics ayant fait leur preuves  dans la formation modulaire. Dans ce cadre, il est dit que « La formation initiale des maitres  au cafop, en première année et deuxième année, s’appuie  sur treize modules, tous adossés aux douze(12) compétences  du référentiel  métier de l’instituteur ivoirien. Cette fonction vise  à développer  des compétences  professionnelles  en lien avec  le métier, et met l’accent sur l’alternance  entre  la théorie  et la pratique.

           .</p>
        
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
          <ul class="list-inline mb-2">
          </ul>
          <a href="#">
            <h4 class="card-title">Formations en ligne</h4>
          </a>
          <p class="card-text mb-4"> 
          
            Il est question que  tous  les contenus des modules  dispensés en présentiel seront  préalablement  mises en ligne, à la disposition des auditeurs pour lecture  et réalisation  des travaux  dirigés d’activités de remédiation et d’évaluation des compétences  développées.
Par conséquent, les professeurs disciplinaires  devront alimenter  et suivre  la plateforme.
La formation à distance est une belle aventure pour les auditeurs de CAFOP LITED car cela leur permettra de mieux assimiler les cours vus d’avance, en ligne, comme cela se fait au CAFOP. 
     
       Au titre de la formation de 2ème année, il sera  question  de l’exécution  des modules  restants et du stage  en tutelle  dans les écoles préscolaires et primaires.  La durée  du stage sera de six (6) mois.   Toute la formation pratique et théorique des 2 première années débouchera  ou sera sanctionnée par l’examen du DIAS
        Pour boucler la formation, la 3éme année, après le DIAS, l’élève maitre  toujours en consolidation des acquis, se verra attribué une classe où  il sera encadré par un maître d’application, toute l’année. Cette formation pratique sera sanctionnée par le C E A P, le diplôme de couronnement de l’instituteur adjoint, prêt  pour le service,  en toute sécurité  en Côte d’Ivoire ou ailleurs. 


          </p>
    
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
          <ul class="list-inline mb-2">
          </ul>
          <a href="#">
            <h4 class="card-title">Volume horaire</h4>
          </a>
          <p class="card-text mb-4">
            
                     Le volume horaire correspondra au besoin  de la formation  des auditeurs  tel que demandé.
                      Ici, à CAFOP LITED,
                      c’est l’exemple du cafop public qui privaut avec le soutien de à ADC du CAFOP d’Abidjan :
                       M. Bakayoko. Selon notre document de programmation, 560 heures sont  prévues pour les formations 
                       en première année contre 640 heure (CAFOP normal). Pour la deuxième année, essentiellement consacrée au stage pratique,
                        nous avons le reste des modules à administrer. 5 modules sur 6 semaines seront vus avant le stage pratique.
                         Total volumes horaires : 144 plus 24 égalent 168 heures. Des stages pratiques s’effectueront 
                          dans les écoles préscolaires primaires  privées et publiques déjà contactées  ou restant à contacter.
         
        </p>
       
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
          <ul class="list-inline mb-2">
          </ul>
          <a href="#">
            <h4 class="card-title">Conditions d'accès</h4>
          </a>
          <p class="card-text mb-4"> 
          
           Le projet CAFOP LITED est une opportunité pour ceux dont l’âge ne permet plus de passer des concours : cafop, 
           fonction publique etc. Les plus âgés sont donc prioritaires. Néanmoins, des moyens âgés peuvent aussi
            y accéder s’ils remplissent certaines conditions… Le diplôme exigé est le BEPC.
             (avec attestation à usage administratif (DECO)).
Dossier à constituer: Un acte de naissance moins de 3 mois -photocopie légalisée du diplôme,
 certificat médical chez l’un des cabinets médicaux   retenus –Photocopie C N I - 1 C V, 4
   photos du même tirage, une grande enveloppe de 100 F. Etude de dossier, test de niveau, reçu de payement de la scolarité.


          </p>
    
        </div>
      </div>
    </div>
  </div>

{% endblock %}
