{% extends 'home/index.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<!-- blog -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">Informations</h2>
      </div>
    </div>
    <div class="row justify-content-center">
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="assets/images/blog/post-1.jpg" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">Juillet 2023</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">Rentrée academique 2023-2024</li>
        </ul>
        <a href=#">
          <h4 class="card-title">Les inscriptions se feront en ligne.</h4>
        </a>
        <a href=#" class="btn btn-primary btn-sm">Lire...</a>
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="assets/images/blog/post-2.jpg" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">Juin 2023</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">Vaccances et lecture</li>
        </ul>
        <a href=#">
          <h4 class="card-title">Un programme pour booster les enfants à lire et à aimer la lecture.</h4>
        </a>
        <a href=#" class="btn btn-primary btn-sm">lire...</a>
      </div>
    </div>
  </article>
  <!-- blog post -->
  <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
      <img class="card-img-top rounded-0" src="assets/images/blog/post-3.jpg" alt="Post thumb">
      <div class="card-body">
        <!-- post meta -->
        <ul class="list-inline mb-3">
          <!-- post date -->
          <li class="list-inline-item mr-3 ml-0">Decembre 2023</li>
          <!-- author -->
          <li class="list-inline-item mr-3 ml-0">Première Composition</li>
        </ul>
        <a href=#">
          <h4 class="card-title">Une composition en ligne aura lieu et les auditeurs y accederont depuis leur téléphone, ordinateurs.</h4>
        </a>
        <a href=#" class="btn btn-primary btn-sm">lire...</a>
      </div>
    </div>
  </article>
</div>
  </div>
</section>
{% endblock %}
