{% extends 'home/index.html.twig' %}

{% block title %}Formation qualifiante{% endblock %}

{% block body %}
    <!-- about us -->
    <section class="section">
        <div class="container">

            <h2 class="section-title">  Formation qualifiante des personnels d’enseignement des lycées et collèges </h2>

            <table border="1"  class="card-text mb-4 align-bottom" width="100%">
                <tr>
                    <th>Différents professeurs</th>
                    <th>Disciplines</th>
                    <th>Durées</th>
                </tr>
                <tr><td>Professeurs de Collèges</td>
                    <td>Lettres Modernes
                        Anglais<br />
                        Allemand<br />
                        Espagnol<br />
                        Histoire & Géographie<br />
                        Mathématiques<br />
                        Sciences de la Vie et de la Terre<br />
                        Sciences physiques</td>
                    <td><b> 2 ans</b></td>
                </tr>
                <tr><td>Professeurs de Lycées</td>
                    <td>Lettres Modernes<br />
                        Anglais<br />
                        Allemand<br />
                        Espagnol<br />
                        Histoire & Géographie<br />
                        Mathématiques<br />
                        Sciences de la Vie et de la Terre<br />
                        Sciences physiques<br />
                        Philosophie</td><td><b> 2 ans</b></td></tr>
            </table>

            <p> Pour suivre la formation qualifiante à CAF LITED, il faut être titulaire du Baccalauréat et d'un diplôme universitaire. 
                La formation se fera en cours du soirs et du jour, en ligne et en présentiel.
                      <ul>
                        <li style="list-style-type: square"> En cours du soir</li>
                        <li style="list-style-type: square"> Du Lundi au Vendredi de 18H à 21H</li>
                        <li style="list-style-type: square"> En cours du jour </li>
                        <li style="list-style-type: square"> Samedi 08H à 16H</li>
                        <li style="list-style-type: square"> Les congés de Noël : une semaine </li>
                        <li style="list-style-type: square"> Les congés de Pâques : une semaine </li>
                        <li style="list-style-type: square"> Les grandes vacances : un mois et demi de cours.</li> 
                    </ul>
        </p>
        <p>
            <ul>
                <li class="section-title"> <b>CHRONOGRAMME</b> </li>
                <li style="list-style-type: disc"> Inscription et paiement des frais : à partir du 1<sup>er</sup> Décembre 2023,</li>
                <li style="list-style-type: disc"> Depôt des dossiers pour le test de sélection : à partir du 04 Décembre 2023 au 30 Janvier 2024,</li>
                <li style="list-style-type: disc"> Test de sélection : 03 Février 2024,</li>
                <li style="list-style-type: disc"> Foramtion : du 10 Mars 2024 au 27 Mars 2025.</li>
            
            </ul>
            </p>

        </div>

    </section>
    <!-- /about us -->
{% endblock %}
