

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte compte est ouvert avec ce mail, veuillez consulter le mail car un message vient dêtre envoyé {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Veuillez verifier dans votre spam si le message tarde  <a href="{{ path('app_forgot_password_request') }}">ou ressayer</a>.</p>
{% endblock %}
