{% extends 'base.html.twig' %}

{% block title %}New Commune
{% endblock %}

{% block body %}
	<div>
		<header>
			Enregistrement
		</header>
		{{ include('commune/_form.html.twig') }}

	</div>


{% endblock %}
