{% extends 'home/index.html.twig' %}

{% block title %}Hello MotController!{% endblock %}

{% block body %}
<div class="col-lg-12 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <div class="card-body">
        
        <a href="#">
          <h4 class="card-title">Nos matières en 2è session</h4>
        </a>
        Les matières de CAF LITED sont les mêmes que celles dispensées dans les <b>   CAFOP </b>    de Côte d'Ivoire
<p class="card-text mb-4">

<p class="btn btn-success"> <b>AEC<b></p>
    <p class="btn btn-success">  <b>Histoire/Géographie <b></p>
    <p class="btn btn-success">  <b>Formation Scientifique<b></p>
    <p class="btn btn-success">  <b>E.D.H.C<b></p>
    <p class="btn btn-success">  <b>Psychopedagogie<b></p>
    <p class="btn btn-success">  <b>E.P.S<b></p>
    <p class="btn btn-success">  <b>C.A.V<b></p>
    <p class="btn btn-success">  <b>Mathematiques<b></p>
    <p class="btn btn-success">  <b>Français<b></p>
    </p>
</div>
</div>
{% endblock %}
