{% extends 'base.html.twig' %}

{% block title %}New Section{% endblock %}

{% block body %}
  <div>
		<header>
			Enregistrement
		</header>

    {{ include('section/_form.html.twig') }}

   </div>
{% endblock %}
