{% extends 'base.html.twig' %}

{% block title %}New Matiere{% endblock %}

{% block body %}
  <div><header>Gestion matière</header>

    {{ include('matiere/_form.html.twig') }}

  </div>
{% endblock %}
