{% extends 'base.html.twig' %}

{% block title %}New Module
{% endblock %}

{% block body %}
	<div>
		<header>
			Gestion Module</header>
	</div>

	{{ include('module/_form.html.twig') }}
</div>

{% endblock %}
