{% extends 'base.html.twig' %}

{% block title %}New Enseignant{% endblock %}

{% block body %}
    <div><header>Gestion enreignant</header>

    {{ include('enseignant/_form.html.twig') }}

    </div>
{% endblock %}
