{% extends 'base.html.twig' %}

{% block title %}New Salaire{% endblock %}

{% block body %}
  <section class="bd-style  container">
	<div class="row ">
		<div class="col-md-6">
			<h1 class="text-gras">
				Gestion des salaires
			</h1>

		</div>

	</div>

    {{ include('salaire/_form.html.twig') }}
  </section>
{% endblock %}
