{% extends 'base.html.twig' %}

{% block title %}Gestion Depense{% endblock %}

{% block body %}
     <div><header>Gestion depense</header>

    {{ include('depense/_form.html.twig') }}

     </div>
{% endblock %}
