{% extends 'base.html.twig' %}

{% block title %}Gestion Utilisateur{% endblock %}

{% block body %}
     <div><header>Gestion Utilisateur</header>

    {{ include('user/_form.html.twig') }}

     </div>
{% endblock %}
