{% extends 'base.html.twig' %}

{% block title %}Edit Coefficiant{% endblock %}

{% block body %}
    <h1>Edit Coefficiant</h1>

    {{ include('coefficiant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_coefficiant_index') }}">back to list</a>

    {{ include('coefficiant/_delete_form.html.twig') }}
{% endblock %}
