{% extends 'home/index.html.twig' %}

{% block title %}Mot de la directrice{% endblock %}

{% block body %}
<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">Mme Iritié DG de CAF LITED</h2>
        
        <p >CAF LITED est une école privée en ligne chargée de dispenser les cours et formations à des personnes desirant enseigner dans le primaire
        Nos formations peuvent vous donner droit à enseigner dans le public en tant qu'enseignant bénévole. L'Etat peut aussi vous integrer à la fonction publique par la suite 
        si besoin y est.
        </p>
      </div>
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="directrice.jpg" alt="about image">
      </div>
    </div>
  </div>
</section>
<!-- /about us -->
{% endblock %}
